[class*="col"] {
    /* min-height: 40px; */
    background-color: pink;
    border: solid 1px rgba(255, 0, 191, 0.836);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cri-w-40px {
    width: 40px
}

header .col-12 {
    height: 60px;
}

main {
    width: 85vw;
}

nav.col {
    width: 15vw;
    height: calc(100vh - 60px);

}