[class*="col"] {
    /* min-height: 40px; */
    background-color: pink;
    border: solid 1px rgba(255, 0, 191, 0.836);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cri-w-40px {
    width: 40px
}

.cri-w-100px {
    width: 100px
}

header .row {
    height: 60px;
}

main {
    width: 90vw;
    height: calc(100vh - 60px);
}

nav.col {
    width: 10vw;
    height: calc(100vh - 60px);

}

/*DEBUG*/

.cri-bg-yellow {
    background-color: yellowgreen;
}